body{
    font-family: 'Lato', sans-serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}
h1{
    font-size: 50px;
    
}
.h2-font-size{
    font-size: 30px;
}
#border{
    display: inline-block;
    border-left: 5px solid orange;
    padding: 0 10px;
    line-height: 60px;
}
.mission-color{
    color: rgb(197, 82, 197);
}
.top-part{
    display: flex;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
#scroll{
    padding-top: 5%;
    font-weight: 700;
}
.half-width img{
    width: 80%;
}
.click-button{
    text-decoration: none;
    background-color:orange;
    padding:5px 20px ;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
#second-head{
    text-align: center;
}
.three-division{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    
}

.three-division img{
    width: 33.33%;  
}
#first-div{
    background-color:rgba(255, 192, 203, 0.61);
    width: 80%;
    padding:2%;
    margin: 2%;
    border-radius: 20px;
    margin-bottom: 80PX;
    text-align: justify;
}
#second-div{
    background-color:rgba(144, 238, 144, 0.247);
    width: 80%;
    padding:2%;
    margin: 2%;
    border-radius: 20px;
    margin-bottom: 80PX;
    text-align: justify;
}
#third-div{
    background-color:rgba(135, 207, 235, 0.507);
    width: 80%;
    padding:2%;
    margin: 2%;
    border-radius: 20px;
    margin-bottom: 80PX;
    text-align: justify;
}
.learning-limits{
    width: 50%;
    padding-left: 5%;
}
.learning-limits img{
    width: 90%;
}
#learning{
    margin-right: 30%;
    text-align: justify;
}
.background-image{
    background-image: url(./images/shapes/shape-1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: left;
    margin:20px;
}
#last-image{
    width: 40%;
}
.background-image-second{
    background-image: url(./images/shapes/shape-1.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: Right;
    padding-bottom:100px;
    margin:20px;
}
.extra-part{
    display: flex;
}
#web-dev-image img{
    width: 70%;
    box-shadow: 30px 30px 20px gray;
    border-radius: 25px;
    margin-top: 10%;
    margin-left: 10%;
}
#my-website{
    width: 70%;
    margin-bottom: 10%;
    margin-right: 2%;
    
}
.footer{
    margin: 0%;
    background-color:#141414;
    text-align: center;
    padding: 20px;
    
}
#mission-color{
    color: white;
}
.footer p{
    color: white;
}